
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

 <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css"/>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>
    <title>Index</title>
</head>
<body>
    <div id="root" style="min-height:700px"></div>
 
        <script src="~/js/main.build.js"></script>
  <script src="~/js/react.build.js"></script>
  <div class="ui three column grid">
  
  <div class="column">   </div>
  <div class="column"><a href="http://phl.upr.edu/projects/habitable-exoplanets-catalog/data/database">
                      
                       <h6>Dataset source: PHL's Exoplanet Catalog of the Planetary Habitability Laboratory at UPR Arecibo.</h6></a></div>
  <div class="column"></div>

</div>
   
        </div>
</body>
</html>
