
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
 <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css"/>
    <title>Index</title>
</head>
<body>
    <div id="root"></div>
 
        <script src="~/js/main.build.js"></script>
  <script src="~/js/react.build.js"></script>
</body>
</html>
