@model ExoPlanetHunter.Database.Entity.Post

@{
    ViewData["Title"] = "Delete";
}

<div class="container">

    <div class="row">

         <div class="col-lg-10 col-md-12 mx-auto">
<div class="post-preview">
<h3>Are you sure you want to delete this?</h3>

    
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index" class="btn btn-outline-dark">Back to List</a>
    </form>
</div>
</div></div></div>