<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

      <script src="~/lib/ckeditor/ckeditor.js"></script>
</head>
<body>
    <div>
        <h1>ExoPlanetHunter</h1>
        @RenderBody()

    </div>
    <script src="~/js/main.build.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
  
</body>
</html>