@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}
@if (showBanner)
{


    <nav id="cookieConsent" class="navbar navbar-default navbar-fixed-top show" role="alert">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="glyphicon glyphicon-info-sign navbar-toggle" data-toggle="collapse" data-target="#cookieConsent .navbar-collapse">
                  
                </button>

            </div>
            <div id="cookieConsentapprove" class="collapse navbar-collapse show">
                <p class="alert alert-dark" role="alert">
                    This website uses cookies to improve user experience. Cookies is used for social media widget and for adverising. By using our website you consent to all cookies in accordance with our Cookie Policy.
                </p>
                <div class="navbar-right">
                    <a href="/Details/6" class="btn btn-outline-dark btn-sm">Learn More</a>
                    <button type="button" class="btn btn-outline-default btn-sm" data-cookie-string="@cookieString">Accept</button>
                </div>
            </div>
        </div>
    </nav>
    <script>
        (function () {
            document.querySelector("#cookieConsent button[data-cookie-string]").addEventListener("click", function (el) {
                document.cookie = el.target.dataset.cookieString;

       
                document.querySelector("#cookieConsentapprove").classList.remove("show");
            }, false);
        })();
    </script>
}
